<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./master.css">
  </head>
  <body>
    <div id="root">
      <header>
        <h1>Boolflix</h1>

        <input type="text" placeholder="cerca" 
        v-model="search"
        @keyup.enter="film"
        >
      </header>

      <div class="container">

        <div class="divider"><h2>FILM</h2></div>
        
        <div class="card" v-for="film in films" v-if="film.poster_path != null">
          <img :src="`https://image.tmdb.org/t/p/w185/${ film.poster_path }`" alt="">
          <div>
            
            <!-- <p class="lingua">{{ film.original_language }}</p> -->
            <span>
              <img v-if="film.original_language == 'en'" src="https://www.countryflags.io/us/flat/64.png">
              <img v-else :src="`https://www.countryflags.io/${ film.original_language }/flat/64.png`">
          </span>

          </div>
            
            <div class="back-card">
              <p class="titolo">{{ film.title }}</p>
              <p class="titolo-originale" v-if="film.title != film.original_title "
              >{{ film.original_title }}</p>
              <span>
                <i class="fas fa-star" v-for="star in parseInt(film.vote_average / 2) "></i>
                <i class="far fa-star" v-for="star in 5 - parseInt(film.vote_average / 2) "></i>
              </span>
              
            </div>
          
        </div>
        
        <div class="divider"><h2>SERIE TV</h2></div>

        <div class="card" v-for="serie in serieTv" v-if="serie.poster_path != null">
          <img :src="`https://image.tmdb.org/t/p/w185/${ serie.poster_path }`" alt="">
          <div>
            
            <!-- <p class="lingua">{{ film.original_language }}</p> -->
            <span>
              <img v-if="film.original_language == 'en'" src="https://www.countryflags.io/us/flat/64.png">
              <img v-else :src="`https://www.countryflags.io/${ film.original_language }/flat/64.png`">
          </span>

          </div>
            
            <div class="back-card">
              <p class="titolo">{{ serie.name }}</p>
              <p class="titolo-originale" v-if="serie.name != serie.original_name "
              >{{ serie.original_name }}</p>
              <p class="valutazione">{{ serie.vote_average }}</p>
            </div>
          
        </div>
      </div>






    </div>

    <script src="https://cdnjs.cloudﬂare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js"></script>
  </body>
</html>