*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #778899;
}

header {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background-color: #000;
  color: #e50914;
}

h1 {
  font-size: 40px;
}

header input {
  border-radius: 8px;
}

.divider {
  width: 100%;
  color: #fff;
  background-color: black;
  text-align: center;
  font-size: 22px;
  margin: 15px 0;
}

.container{
  width: 90%;
  height: calc(100% - 80px);
  margin: 0 auto;
  margin-top: 80px;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(100% / 4 - 10px);
  max-width: 400px;
  min-width: 250px;
  color: #fff;
  border: 1px solid #fff;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.card img {
  max-height: 350px;
}

.titolo{
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.titolo-originale {
  margin-bottom: 10px;
}

.back-card {
  display: none;
}

.card:hover .back-card{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card:hover .poster {
  display: none;
}

.stelle {
  margin-left: -4px;
}

.fa-star {
  color: #ffd700;
}